.sidebar {
  width: 250px;
  background-color: #1f1f1f;
  color: white;
  height: 100vh;
  padding: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}

.menu-item:hover {
  background-color: #333;
}

.submenu {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.submenu li {
  padding: 5px 0;
  font-weight: 400;
}
